<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
			<key>footerText</key>
			<string>Enabling HDR will disable flash. Setting Anti-Blur to on will increase the image quality, but will not take a photo until the device is still.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>kQSFlashModeAuto</string>
			<key>defaults</key>
			<string>com.caughtinflux.qsproprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>kQSFlashMode</string>
			<key>label</key>
			<string>Flash Mode</string>
			<key>validTitles</key>
			<array>
					<string>Automatic</string>
					<string>On</string>
					<string>Off</string>
			</array>
			<key>validValues</key>
			<array>
					<string>kQSFlashModeAuto</string>
					<string>kQSFlashModeOn</string>
					<string>kQSFlashModeOff</string>
			</array>
			<key>requiredCapabilities</key>
			<array>
				<string>camera-flash</string>
			</array>
			<key>PostNotification</key>
			<string>com.caughtinflux.quickshootpro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>kQSCameraDeviceRear</string>
			<key>defaults</key>
			<string>com.caughtinflux.qsproprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>kQSCameraDevice</string>
			<key>label</key>
			<string>Camera Device</string>
			<key>validTitles</key>
			<array>
					<string>Rear Camera</string>
					<string>Front Camera</string>
			</array>
			<key>validValues</key>
			<array>
					<string>kQSCameraDeviceRear</string>
					<string>kQSCameraDeviceFront</string>
			</array>
			<key>requiredCapabilities</key>
			<array>
				<string>front-facing-camera</string>
			</array>
			<key>PostNotification</key>
			<string>com.caughtinflux.quickshootpro.prefschanged</string>

		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.caughtinflux.qsproprefs</string>
			<key>key</key>
			<string>kQSHDREnabled</string>
			<key>label</key>
			<string>HDR</string>
			<key>PostNotification</key>
			<string>com.caughtinflux.quickshootpro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.caughtinflux.qsproprefs</string>
			<key>key</key>
			<string>kQSWaitForFocus</string>
			<key>label</key>
			<string>Anti-Blur</string>
			<key>PostNotification</key>
			<string>com.caughtinflux.quickshootpro.prefschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
			<key>footerText</key>
			<string>QuickShoot Pro is © 2013 Aditya KD (caughtinflux)</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@caughtinflux</string>
			<key>action</key>
			<string>launchTwitter:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>caughtinflux@me.com</string>
			<key>action</key>
			<string>showEmailComposer:</string>
		</dict>
	</array>
	<key>title</key>
	<string>QuickShoot Pro</string>
</dict>
</plist>
