Package: com.caughtinflux.quickshoot
Name: QuickShoot
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: flux
Author: flux
Section: Tweaks
