Package: com.caughtinflux.quickshoot
Name: QuickShoot
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Double tap the camera Icon to take a photo, and quickly.
Maintainer: flux
Author: flux
Section: Tweaks
