Package: com.caughtinflux.quickshootpro
Name: QuickShoot Pro
Depends: mobilesubstrate, firmware (>= 6.0), libactivator, applist, libstatusbar
Conflicts: com.caughtinflux.quickshoot
Version: 1.0
Architecture: iphoneos-arm
Description: Capture photos or video quickly, with awesome animation, and more control! 
Maintainer: flux
Author: flux
Section: Tweaks
